{% extends 'movies/base_layout.html' %}

<!--{% block title %} task details {% endblock %}-->
{% block mainblock %}

        <p> Movie Name:{{Movie.name}} </p>
         <p> Movie Details: {{Movie.description}} </p>
         <p> Movie Likes: {{Movie.likes}} </p>
         <p> Movie watch count:{{Movie.watchCount}} </p>
         <p> Movie rate: {{Movie.rate}} </p>
         <p> Movie creation date: {{Movie.creationDate}} </p>
         <p> Movie production date: {{Movie.productionDate}} </p>
         <p> Movie Actors:  </p>
        {% for actor in Movie.actors.all %}
         <li> {{actor.firstname}} {{actor.lastname}}   </li>
        {% endfor %}
        <br>
        <p> Movie Reviews:  </p>
        {% for review in Movie.review_set.all %}
         <li> {{review.comment}} {{review.creationDate}}   </li>
        {% endfor %}


{% endblock %}



