<html>
    <head>

    </head>
    <body>
<!--        <h1> Tasks Details {{taskId}} </h1>-->
<!--         <h1> Tasks Details {{taskName}} </h1>-->
<!--         <h1> Tasks Details {{taskDescription}} </h1>-->
        <ul>
            {% for movie in tasklist %}
                <li>{{ movie.name }}</li>
                <a href="{% url 'taskdetails' movie.id %}"> view</a>
                <a href="{% url 'taskupdate' movie.id %}"> update</a>
                <a href="{% url 'taskdelete' movie.id %}"> delete</a>

            {% empty %}
                 <li>Sorry, no movies in this list.</li>
            {% endfor %}
        </ul>
    </body>
</html>